Hola {% if user.get_full_name %}{{ user.get_full_name }}{% else %}{{ user }}{% endif %},

Te enviamos este correo electrónico porque tu (o alguien pretendiendo ser tu) ha solicitado que tu contraseña sea reestablecida para el CTF. Si no deseas cambiar tu contraseña por favor omite este mensaje.

Para establecer una nueva contraseña visita el siguiente enlace:

{# {{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uid token %} #}
http://186.146.58.167{% url 'password_reset_confirm' uid token %}

En caso de que no recuerdes tu nombre de usuario es: {{ user.get_username }}

Saludos
{# {{ site_name }} #}
